@model MITCourseAndResultManagementSystemApp.Models.Admin

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/MasterPageLayout.cshtml";
}

<h2>Details</h2>

<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Designation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        @{
            string Power = "";
            if (Model.Power == 1)
            {
                Power = "Director";

            }
            if (Model.Power == 2)
            {
                Power = "Moderator";
            }
            if (Model.Power == 3)
            {
                Power = "Batch Co-Ordinator";

            }
            if (Model.Power == 4)
            {
                Power = "Staff";
            }
        }
        <dt>
            @Html.DisplayNameFor(model => model.Power)
        </dt>

        <dd>
            @Power
        </dd>

        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
