


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/TeacherSharedPage.cshtml";
}
@using MITCourseAndResultManagementSystemApp.Models
@using MITCourseAndResultManagementSystemApp.Models.ViewModel
@model MITCourseAndResultManagementSystemApp.Models.ViewModel.TeacherShareContentViewModel

<h2>Post List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(x=>x.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BatchNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilePath)
        </th>
        <th></th>
    </tr>

@foreach (TeacherShareContentViewModel item in ViewBag.teacherShareContents)
{
    <tr>
        <td>
            @item.DateTime.ToString()
        </td>
        <td>
            @item.Department
        </td>
        <td>
            @item.BatchNumber.ToString()
        </td>
        <td>
           @item.TeacherName
        </td>
        <td>
            @item.Title
        </td>
        <td>
           @item.Message
        </td>
        
        
        <td>
            <a href="@item.FilePath">Open Attachment</a>
          
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
