@model MITCourseAndResultManagementSystemApp.Models.Teacher

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/MasterPageLayout.cshtml";
}

<h4>Add Faculty Member</h4>

@using (Html.BeginForm("Create","Teachers", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
        <div class="form-group">
            @Html.LabelFor(model => model.suffix, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="suffix" class="form-control">
                    <option value="Mr. ">Mr. </option>
                    <option value="Mrs. ">Mrs. </option>
                    <option value="Ms. ">Ms. </option>
                    <option value="Dr. ">Dr. </option>
                    <option value="Md. ">Md. </option>
                </select>
                @Html.ValidationMessageFor(model => model.suffix, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.LabelFor(model => model.TeacherFName, htmlAttributes: new { @class = "control-label col-md-2" })
           
        <div class="col-md-10">
            <div class="form-group input-group-sm">
                
                @Html.EditorFor(model => model.TeacherFName, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.TeacherFName, "", new { @class = "text-danger" })
            </div>
      
            
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TeacherLName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeacherLName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TeacherLName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Institute, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="Institute" class="form-control">
                    <option value="IIT DU">IIT DU</option>
                    <option value="Other">Other</option>
                </select>
                @Html.ValidationMessageFor(model => model.Institute, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="Designation" class="form-control">
                    <option value="Professor ">Professor </option>
                    <option value="Associate Professor ">Associate Professor </option>
                    <option value="Assistant Professor ">Assistant Professor </option>
                    <option value="Lecturer. ">Lecturer </option>
                    <option value="Assistant Lecturer ">Assistant Lecturer </option>
                    <option value="Lecturer Candidate ">Lecturer Candidate </option>
                    <option value="Assistant Lecturer Candidate ">Assistant Lecturer Candidate </option>

                </select>
                @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreditTaken, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreditTaken, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CreditTaken, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PhotoPath, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="PhotoPath2" class="form-control" />
                @Html.ValidationMessageFor(model => model.PhotoPath, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
                @if (ViewBag.Message != null)
                {
                    @ViewBag.Message
                }
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>