@model MITCourseAndResultManagementSystemApp.Models.RoomAssign

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/MasterPageLayout.cshtml";
}

<h4>RoomAssign Details</h4>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Departments.DepartmentCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departments.DepartmentCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatchId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatchId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
