@model MITCourseAndResultManagementSystemApp.Models.Course

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/MasterPageLayout.cshtml";
}

<h4>Subject Details</h4>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.DepartmentCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Credit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
