@model MITCourseAndResultManagementSystemApp.Models.UnassignCourse
@{
    ViewBag.Title = "UnassignCourse";
    Layout = "~/Views/Shared/MasterPageLayout.cshtml";
}

<h4>Unassign Course</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentId, "DepartmentId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DepartmentId", null, "Select..", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BatchId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BatchId", Enumerable.Empty<SelectListItem>(), "Select..", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BatchId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Semester, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model=>model.Semester, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Semester, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
               <h4>@ViewBag.Message</h4> 
                <input type="submit" value="Unassign" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script>
    $("#DepartmentId").change(function () {
        var DepartmentId = $("#DepartmentId").val();
        if (DepartmentId > 0) {
            $.ajax({
                url: '@Url.Action("GetBatchList", "CourseAssigns")',
                data: { DepartmentId: DepartmentId },
                success: function (result) {
                    var Options = "<Option value=' '>Select..</Option>";
                    for (var i = 0; i < result.length; i++) {
                        Options = Options + "<Option value='" + result[i]['Id'] + " '>" + result[i]['BatchNo'] + "</Option>";
                    }
                    $("#BatchId").empty();
                    $("#BatchId").append(Options);
                }
            });

        }

    });
</script>

