@model MITCourseAndResultManagementSystemApp.Models.ChangePassword
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/StudentMasterSharedLayout.cshtml";
}

<h2>Change Password</h2>

@using (Html.BeginForm())
{
    
    <table >
        <tr>
            <td>@Html.LabelFor(x=>x.OldPassword)</td>
            <td>@Html.PasswordFor(x => x.OldPassword, new { htmlAttributes = new { @class = "form-control" } })</td>
            <td>@Html.ValidationMessageFor(x => x.OldPassword)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.NewPassword)</td>
            <td>@Html.PasswordFor(x => x.NewPassword, new { htmlAttributes = new { @class = "form-control" } })</td>
            <td>@Html.ValidationMessageFor(x => x.NewPassword)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.ConfirmNewPassword)</td>
            <td>@Html.PasswordFor(x => x.ConfirmNewPassword, new { htmlAttributes = new { @class = "form-control" } })</td>
            <td>@Html.ValidationMessageFor(x => x.ConfirmNewPassword)</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="Submit" value="Change" class="btn btn-success"/></td>
            <td>@{
                    if (ViewBag.Message != null)
                    {
                        @ViewBag.Message
                    }}</td>
        </tr>
    </table>
    
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="~/Scripts/bootstrap.min.js"></script>