@using MITCourseAndResultManagementSystemApp.Models.ViewModel
@model IEnumerable<MITCourseAndResultManagementSystemApp.Models.ViewModel.StudentListViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPageLayout.cshtml";
}

<div class="col-sm-10">

    <h4>Student List</h4>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegNo)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.RollNumber)
            </th>
            <th>
                @Html.DisplayName("Photo")
            </th>

            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                    -
                    @Html.DisplayFor(modelItem => item.BatchNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobileNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegNo)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.RollNumber)
                </td>
                <td>
                    <img src="../@item.PhotoPath" width="50" height="50" />
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

    @*//Right Side nav*@
</div>

@* This div right Navbar *@
<div class="col-sm-2 bg-info" style="size: 5px; float: right;">

    <div>
        @*Classmates*@
        <h5 class="" style="text-align: center; background-color: teal; color:seashell; padding: 3px; size: 5px;">Students List </h5>

        <div style="height: 600px;">

            <table class="table table-hover">
                <tr>
                    <td>Department
                    <td>Number of Student</td>
                </tr>

                @foreach (DepartmentWithBatch DepBat in ViewBag.ListStudents)
                {
                    <tr>
                        <td>
                            <a href="/Students/StudentSelected?Dep=@DepBat.Department&&Batch=@DepBat.Batch">
                                @DepBat.Department  - @DepBat.Batch
                            </a>
                        </td>

                        <td>@DepBat.Count</td>
                    </tr>


                }
            </table>


        </div>

    </div>


</div>
